@font-face {
  font-family: 'FuturaPT';
  src: url('../font/FuturaPT-Bold.woff2') format('woff2'),
  url('../font/FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../font/FuturaPT-Book.woff2') format('woff2'),
  url('../font/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../font/FuturaPT-Light.woff2') format('woff2'),
  url('../font/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../font/FuturaPT-Medium.woff2') format('woff2'),
  url('../font/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}