html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scroll-behavior: smooth;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'FuturaPT';
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-color: #F9F9F9;
}

.container{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 10px 20px;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.main {
	flex-grow: 1;
}
