.about{
   padding-top: 117px;
   padding-bottom: 320px;
   background-image: url('../image/about-women.png') ,
   url('../image/Group\ 22.png'), url('../image/Object.svg');
   background-repeat: no-repeat;
   background-size: contain , 600px 235PX , 112px 112px;
   background-position: calc(50% + 500px) 0, calc(50% - 300px) 90%, calc(50% - 150px) 90% ;
}

.about__box{
   width: 100%;
   max-width: 411px; 
   padding: 10px;
   margin-left: 120px;
}

.box__heading{
   margin: 0;
   margin-bottom: 22px;
   font-family: 'Futura PT';
   font-style: normal;
   font-weight: bold;
   font-size: 70px;
   line-height: 64px;
   color: #333333;
}

.box__info{
   margin: 0;
   font-family: 'Futura PT';
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   align-items: center;
   color: #949494;
}

